* {
    box-sizing: border-box;
}

nav {
    text-align: center;
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    padding: 15px;
}

ul {
    padding: 0;
    display: inline;
}

li {
    list-style-type:none;
    display: inline;
    margin: 30px;
}

li:hover {
    font-weight: bold;
}

