.button {
  border-radius: 6%;
  color: white;
  border: solid 0.1em;
  border-color: white;
  background-color: #1b2838;
  width: 15em;
  height: 2em;
}
.button:hover {
  width: 17em;
  height: 3em;
}
